.row.hide
  .col-md-8.col-md-offset-1
  .row
    .col-sm-10.col-sm-offset-1
      %h1 Location
    #map-canvas
    %hr
      .col-sm-8
      .col-sm-3.pull-right
        %address
          %b Cablage CMS 24/7
          %span#map-input
            %br
              Melun
            %i.fa.fa-phone
              (0033) 07 82 19 08 63
        %address
          %strong Contactez-Nous
          %br
            %i.fa.fa-envelope
              %a{:href => "mailto:#"} contact@cablagecms.fr
.row
  %h2 SITE EN CONSTRUCTION