#nav.navbar.navbar-custom.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.nav-justified
        %li
          =link_to 'Home', root_path
        %li
          =link_to 'Profile', profile_path
        %li
          =link_to 'Services', service_path
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#section4"}
            Projects
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Academic
            %li
              %a{:href => "#"} Commercial
            %li
              %a{:href => "#"} Financial
            %li
              %a{:href => "#"} Interior Design
            %li
              %a{:href => "#"} Medical
            %li
              %a{:href => "#"} Religious
        %li
          =link_to 'Blog', blog_path
        %li
          =link_to 'Contact', contact_path
