#nav.navbar.navbar-custom.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.nav-justified
        %li
          %a{:href => "#section1"} Home
        %li
          %a{:href => "#section2"} Profile
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#section3"}
            Projects
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Academic
            %li
              %a{:href => "#"} Commercial
            %li
              %a{:href => "#"} Financial
            %li
              %a{:href => "#"} Interior Design
            %li
              %a{:href => "#"} Medical
            %li
              %a{:href => "#"} Religious
        %li
          %a{:href => "#section4"} Blog
        %li
          %a{:href => "#section5"} Contact