.row
  .col-sm-10.col-sm-offset-1
    %h1 Profile
    %hr
      %p
        De par sa fonction « protection et support du câblage », le métier du Cable Management Systems est au cœur des installations électriques et de communication et donc de chacun des métiers d’IGNES. Il s’adresse à tous les marchés : domestique, tertiaire, industriel et tous types d’infrastructures.
      %p
        Les solutions permettant d’assurer ces fonctions de support et de protection  des fils et câbles sont nombreuses : systèmes de conduits, systèmes de profilés et goulottes, systèmes de chemins de câbles et d’échelles  à câbles. Grâce à des produits et systèmes complets, performants et innovants, faciles à mettre en œuvre, ces solutions permettent d’assurer une continuité du cheminement et une intégration à tous les types de constructions intérieures ou extérieures et à tous les types d’environnement, y compris les plus exigeants.
      %p
        Le métier CMS contribue par ses solutions basées sur une offre de systèmes complets, à faire face aux grands enjeux que sont la sécurité et la durabilité.
      %p
        Le savoir-faire du métier repose sur le respect des normes produits et d’installation, le conseil sur le meilleur choix de systèmes de produits en fonction des applications  et des contraintes rencontrées, ainsi que l’intégration de la dimension environnementale  dans le développement  des produits. Cette mobilisation  éco-responsable s’est traduite par l’adoption d’un référentiel d’éco-déclaration PEP Ecopassport des solutions de cheminement de câbles
      -#%p
      -#  The Firm has had a great deal of experience and is highly regarded for its expertise in the areas of design, construction administration, construction management, tight cost control and scheduling.
      -#%p
      -#  We have been involved in a wide range of building projects, including college facilities, banks, schools, nursing homes, office buildings, churches, industrial buildings and major urban development projects.
      -#%p
      -#  The various projects have included new construction, renovation and adaptive re-use as a way of providing new space for the various clients. Tessier Associates provides in-house programming, master planning, architectural design, construction documentation, project administration and interior design services. Sustainable design, as appropriate for each client, is incorporated in cost effective ways to benefit the long term value of the buildings created by the firm.
      -#%p
      -#  Together with selected consultants, The Firm provides complete professional services including landscape architecture, structural engineering, electrical and mechanical engineering and site planning.
      %hr
        .divider