
.bg-4
  .container
    .center.wow.fadeInDown
      %h2 Cartes Electroniques
      %p.lead
        Les cartes realise avec success
        =link_to "Cliquez d'ici", ''
    .row
      .col-sm-4.col-xs-6
        .panel.panel-default.portfolio-item
          .panel-thumbnail
            %a{:href => "#", :title => "Renovations"}
              %img.img-responsive{:src => "/assets/projects_10.png"}/
          .panel-body
            %p Modification
            %p
      / /panel
      / /col
      .col-sm-4.col-xs-6
        .panel.panel-default.portfolio-item
          .panel-thumbnail
            %a{:href => "#", :title => "Academic Institutions"}
              %img.img-responsive{:src => "/assets/projects_2.jpg"}/
          .panel-body
            %p Soudage
            %p
      / /panel
      / /col
      .col-sm-4.col-xs-6
        .panel.panel-default.portfolio-item
          .panel-thumbnail
            %a{:href => "#", :title => "Interiors"}
              %img.img-responsive{:src => "/assets/projects_3.jpg"}/
          .panel-body
            %p Prototype
            %p
      / /panel
      / /col
      .col-sm-4.col-xs-6
        .panel.panel-default.portfolio-item
          .panel-thumbnail
            %a{:href => "#", :title => "New Construction"}
              %img.img-responsive{:src => "/assets/projects_8.png"}/
          .panel-body
            %p Carte Manuel
            %p
      / /panel
      / /col
      .col-sm-4.col-xs-6
        .panel.panel-default.portfolio-item
          .panel-thumbnail
            %a{:href => "#", :title => "Site Planning"}
              %img.img-responsive{:src => "/assets/projects_9.png"}/
          .panel-body
            %p Planning
            %p
      / /panel
      / /col
      .col-sm-4.col-xs-6
        .panel.panel-default.portfolio-item
          .panel-thumbnail
            %a{:href => "#", :title => "Carte Electronique"}
              %img.img-responsive{:src => "/assets/projects_7.png"}/
          .panel-body
            %p Carte Electronique
            %p