%section#recent-works
  .container
    .center.wow.fadeInDown
      %h2 Recent Works
      %p.lead
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        %br et dolore magna aliqua. Ut enim ad minim veniam
    .row
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          %img.img-responsive{:alt => "", :src => "/assets/projects_1.jpg"}
            .overlay
              .recent-work-inner
                %h3
                  %a{:href => "#"} Business theme
                %p There are many variations of passages of Lorem Ipsum available, but the majority
                %a.preview{:href => "/assets/projects_1.jpg", :rel => "prettyPhoto"}
                  %i.fa.fa-eye
                  View
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          %img.img-responsive{:alt => "", :src => "/assets/projects_1.jpg"}
            .overlay
              .recent-work-inner
                %h3
                  %a{:href => "#"} Business theme
                %p There are many variations of passages of Lorem Ipsum available, but the majority
                %a.preview{:href => "/assets/projects_1.jpg", :rel => "prettyPhoto"}
                  %i.fa.fa-eye
                  View
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          %img.img-responsive{:alt => "", :src => "/assets/projects_1.jpg"}
            .overlay
              .recent-work-inner
                %h3
                  %a{:href => "#"} Business theme
                %p There are many variations of passages of Lorem Ipsum available, but the majority
                %a.preview{:href => "/assets/projects_1.jpg", :rel => "prettyPhoto"}
                  %i.fa.fa-eye
                  View
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          %img.img-responsive{:alt => "", :src => "/assets/projects_1.jpg"}
            .overlay
              .recent-work-inner
                %h3
                  %a{:href => "#"} Business theme
                %p There are many variations of passages of Lorem Ipsum available, but the majority
                %a.preview{:href => "/assets/projects_1.jpg", :rel => "prettyPhoto"}
                  %i.fa.fa-eye
                  View
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          %img.img-responsive{:alt => "", :src => "/assets/projects_1.jpg"}
            .overlay
              .recent-work-inner
                %h3
                  %a{:href => "#"} Business theme
                %p There are many variations of passages of Lorem Ipsum available, but the majority
                %a.preview{:href => "/assets/projects_1.jpg", :rel => "prettyPhoto"}
                  %i.fa.fa-eye
                  View
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          %img.img-responsive{:alt => "", :src => "/assets/projects_1.jpg"}
            .overlay
              .recent-work-inner
                %h3
                  %a{:href => "#"} Business theme
                %p There are many variations of passages of Lorem Ipsum available, but the majority
                %a.preview{:href => "/assets/projects_1.jpg", :rel => "prettyPhoto"}
                  %i.fa.fa-eye
                  View
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          %img.img-responsive{:alt => "", :src => "/assets/projects_1.jpg"}
            .overlay
              .recent-work-inner
                %h3
                  %a{:href => "#"} Business theme
                %p There are many variations of passages of Lorem Ipsum available, but the majority
                %a.preview{:href => "/assets/projects_1.jpg", :rel => "prettyPhoto"}
                  %i.fa.fa-eye
                  View
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          %img.img-responsive{:alt => "", :src => "/assets/projects_1.jpg"}
            .overlay
              .recent-work-inner
                %h3
                  %a{:href => "#"} Business theme
                %p There are many variations of passages of Lorem Ipsum available, but the majority
                %a.preview{:href => "/assets/projects_1.jpg", :rel => "prettyPhoto"}
                  %i.fa.fa-eye
                  View
