.container
  .row
    .col-lg-12.text-center
      %h2.section-heading Nos Services
      %h3.section-subheading.text-muted
        %b CABLAGE-CMS
        est spécialisée dans la production de prototypes électroniques, de petites et moyennes séries de cartes électroniques
        nous disposons tres courte delais pour la production des cartes electroniques ainsi que de réaliser tous vos projets de cartes et systèmes quelqu'en soit la complexité et les technologies utilisées.
        =link_to 'Cliquez pour savoir plus..', service_path, class: 'btn btn-xl'
  .row.text-center
    .col-md-3
      %span.fa-stack.fa-4x
        %i.fa.fa-circle.fa-stack-2x.text-primary
        %i.fa.fa-hand-o-down.fa-stack-1x.fa-inverse
      %h4.service-heading CABLAGE DE CARTES CMS
      %p.text-muted Câblage prototype
    .col-md-3
      %span.fa-stack.fa-4x
        %i.fa.fa-circle.fa-stack-2x.text-primary
        %i.fa.fa-hand-o-down.fa-stack-1x.fa-inverse
      %h4.service-heading CABLAGE DE CARTES PROTOTYPES
      %p.text-muted
        Nous réparons tous les types de cartes électroniques:
        Analogiques
        Numériques
        Nous avons élaboré différentes techniques en interne afin de trouver des solutions pour réparer vos produits défectueux.
        Même si la réparation est plus simple avec les schémas électriques d'une carte, nous avons des solutions inovantes pour réparer vos produits sans schémas.
        Et si la réparation n'est économiquement pas possible, nous vous proposons une solution alternative avec un matériel équivalent ou que nous adaptons.
    .col-md-3
      %span.fa-stack.fa-4x
        %i.fa.fa-circle.fa-stack-2x.text-primary
        %i.fa.fa-hand-o-down.fa-stack-1x.fa-inverse
      %h4.service-heading CABLAGE DE CARTES TRAVERSANT
      %p.text-muted
        Notre expérience dans l’électronique de précision nous confère un savoir-faire chirurgical dans le montage de cartes électroniques, en particulier sur du prototype,
        que ce soit sur du composant monté en surface ou du composant traversant.
    .col-md-3
      %span.fa-stack.fa-4x
        %i.fa.fa-circle.fa-stack-2x.text-primary
        %i.fa.fa-hand-o-down.fa-stack-1x.fa-inverse
      %h4.service-heading MODIFICATIONS DES CARTES
      %p.text-muted Ces modifications peuvent concerner l'ajout de nouvelles fonctionnalités ou tout simplement les aspects mécaniques des cartes. Nos produits peuvent être rapidement adaptés pour optimiser votre système
    %hr
      .divider


%section#services.service-item
  .container
    .center.wow.fadeInDown#services-fade-in-down
      %h2 Notre Metier
      %p.lead
        Nous sommes spécialisée dans la production de prototypes électroniques, de petites et moyennes séries de cartes
        %br électroniques nous disposons tres courte delais pour la production des cartes electroniques
    .row
      .col-sm-6.col-md-4
        .media.services-wrap.wow.fadeInDown
          .pull-left
            %img.img-responsive{:src => asset_path("services/services1.png")}
          .media-body
            %h3.media-heading CMS
      .col-sm-6.col-md-4
        .media.services-wrap.wow.fadeInDown
          .pull-left
            %img.img-responsive{:src => asset_path("services/services2.png")}
          .media-body
            %h3.media-heading Modification des Cartes
      .col-sm-6.col-md-4
        .media.services-wrap.wow.fadeInDown
          .pull-left
            %img.img-responsive{:src => asset_path("services/services4.png")}
          .media-body
            %h3.media-heading Cartes Traversant
            -#%p Lorem ipsum dolor sit ame consectetur adipisicing elit
