=render 'home/nav_bar'
%section#blog.container
  .center
    %h2 Blogs
    %p.lead Pellentesque habitant morbi tristique senectus et netus et malesuada
  .blog
    .row
      .col-md-8
        =@blogs.each do |blog|
          =render 'home/blog_item', blog: blog

        / /.blog-item
        %ul.pagination.pagination-lg
          %li
            %a{:href => "#"}
              %i.fa.fa-long-arrow-left>
              Previous Page
          %li.active
            %a{:href => "#"} 1
          %li
            %a{:href => "#"} 2
          %li
            %a{:href => "#"} 3
          %li
            %a{:href => "#"} 4
          %li
            %a{:href => "#"} 5
          %li
            %a{:href => "#"}
              Next Page
              %i.fa.fa-long-arrow-right
      / /.pagination
      / /.col-md-8
      %aside.col-md-4
        .widget.search
          %form{:role => "form"}
            %input.form-control.search_box{:autocomplete => "off", :placeholder => "Search Here", :type => "text"}
        / /.search
        / /.archieve
        .widget.tags
          %h3 Tag Cloud
          %ul.tag-cloud
            %li
              %a.btn.btn-xs.btn-primary{:href => "#"} Apple
            %li
              %a.btn.btn-xs.btn-primary{:href => "#"} Barcelona
            %li
              %a.btn.btn-xs.btn-primary{:href => "#"} Office
            %li
              %a.btn.btn-xs.btn-primary{:href => "#"} Ipod
            %li
              %a.btn.btn-xs.btn-primary{:href => "#"} Stock
            %li
              %a.btn.btn-xs.btn-primary{:href => "#"} Race
            %li
              %a.btn.btn-xs.btn-primary{:href => "#"} London
            %li
              %a.btn.btn-xs.btn-primary{:href => "#"} Football
            %li
              %a.btn.btn-xs.btn-primary{:href => "#"} Porche
            %li
              %a.btn.btn-xs.btn-primary{:href => "#"} Gadgets
        / /.tags
        .widget.blog_gallery
          %h3 Our Gallery
          %ul.sidebar-gallery
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("projects_1.jpg")}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("projects_2.jpg")}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("projects_3.jpg")}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("projects_4.jpg")}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("projects_5.jpg")}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("projects_6.jpg")}/
