#wrap
  %header.masthead
    =render 'home/carousel'
  / /.carousel
  / Fixed navbar
  =render 'home/nav_bar'
  / /.nav-collapse
  / /.container
  / /.navbar
  / Begin page content
  #section1.divider
  =render 'home/services'
  .divider
  %section.bg-1
    .col-sm-6.col-sm-offset-3.text-center
  #section2.divider
  =render 'home/profile'
  / /col
  / /container
  .divider
  %section.bg-3
    .col-sm-6.col-sm-offset-3.text-center
      %h2{:style => "padding:20px;background-color:rgba(5,5,5,.8)"} Clients &amp; Partners
  #section3.divider
  =render 'home/projects'
  / /panel
  / /col
  / /row
  / /container
  #section4.divider
  =render 'home/location'
  / /row
  #section5.divider
  =render "contact/contact"

%ul.nav.pull-right.scroll-top
  %li
    %a{:href => "#", :title => "Scroll to top"}
      %i.glyphicon.glyphicon-chevron-up

#myModal.modal{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3.modal-title
      .modal-body
        #modalCarousel.carousel
          .carousel-inner
          %a.carousel-control.left{"data-slide" => "prev", :href => "#modaCarousel"}
            %i.glyphicon.glyphicon-chevron-left
          %a.carousel-control.right{"data-slide" => "next", :href => "#modalCarousel"}
            %i.glyphicon.glyphicon-chevron-right
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"} Close