!!!
%html
  %head
    %title Cablage -- CMS
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"}
    %link{:href => "assets/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    = csrf_meta_tags
  %body
    = yield
    =render 'layouts/footer'
    =render 'layouts/social_share'
